{{> HeaderPartial imageUrl=emailHeaderImageUrl }}
<div style="font-weight: bold; font-size: 30px; text-align: center;">Kedves {{message.name}}!</div>
<div style="font-weight: bold; font-size: 25px;  text-align: center;">Köszönjük, hogy felvetted velünk a kapcsolatot!</div>
<div style="margin-top: 30px; font-size: large;">
    <div style="word-break: break-word;">Üzenetedben használt email cím: {{message.email}}</div>
    <div style="margin: 10px 0;">Üzeneted:</div>
    <div style="font-style: italic; font-size: unset; margin: 10px 20px; text-align: justify;">{{message.text}}</div>
    <div style="margin-top: 30px;">Munkatársaink mihamarabb felveszik veled a kapcsolatot!</div>
</div>
{{> FooterPartial adminPhoneNumbers=adminPhoneNumbers }}
